node_modules/
dist/
.env
.env.local
*.log

# Android
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/.idea/
android/*.iml
android/captabs/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
